@model IEnumerable<DevTest.Models.UserModel>

<table class="table" style="width: 100%;">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Membership</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr >
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.Title @user.LastName
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @foreach (var membership in user.MembershipGroups)
                    {
                        <span class="membershipGroup badge badge-light" data-groupId="@membership.GroupId.ToString()" data-userId="@user.UserId.ToString()" >@membership.GroupName</span>
                    }
                </td>
                <td>
                    <span data-userId="@user.UserId.ToString()" class="isfavourite glyphicon" aria-hidden="true"></span>
                </td>
            </tr>
        }
    </tbody>

</table>

